

body{
  background:whitesmoke;;;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.items, .items2{
  margin: 0 auto;
  max-width: 1140px;
  padding-top:20px;
}
.items a, .items2 a{
  display:inline-block;
  text-decoration:none;
  color:inherit;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight:400;
  margin:0 20px;
  height: 20px;
  overflow: hidden;
}
.items a span{
  display: inline-block;
  position:relative;
  transition: transform 500ms;
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: transform 500ms;
  
}
.items a span:after{
  content: attr(data-hover);
  position: absolute;
  top: -35px;
  left:0;
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}
.items a:hover span,
.items a:focus span {
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
}

/* x3 */
.items2 a span{
  display: inline-block;
  position:relative;
  transition: transform 600ms;
  -webkit-transition: -webkit-transform 600ms;
}
.items2 a span:before{
  content: attr(data-hover);
  position: absolute;
  top: -60px;
  left:0;
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}
.items2 a span:after{
  content: attr(data-hover);
  position: absolute;
  top: -30px;
  left:0;
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}
.items2 a:hover span,
.items2 a:focus span {
  transform: translateY(60px);
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
}





.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}




* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

#grad1 {
    height: 200px;
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /* Standard syntax (must be last) */
}